body {
   width: 100%;
   font-size: 14px;
   font-family: "Work Sans", Arial, Helvetica, sans-serif;
   font-weight: 300;
   color: rgb(36, 36, 36);
   overflow-x: hidden;
 }
 
 header {
   width: 100%;
   padding: 21px 50px;
   box-sizing: border-box;
   background-color: #f1f1f1;
   display: flex;
   justify-content: space-between;
   align-items: center;
 
   > img {
     width: 55px;
     margin: 0 auto;
     display: block;
   }
 
   i {
     width: 40px;
     cursor: pointer;
     position: relative;
 
     img {
         width: 100%;
     }

     .header__number-products {
      background: #0047b3;
      color: #f1f1f1;
      padding: 5px 9px;
      font-weight: 900;
      border-radius: 100%;
      position: absolute;
      top: -12px;
      right: -15px;
     }
   }
 }
 
 main {
   width: 100%;
   display: flex;
 }
 
 .products {
   width: 100%;
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
   padding: 30px;
   box-sizing: border-box;
 
   section {
     flex-basis: 320px;
     cursor: pointer;
     transition: all .25s ease-in-out;
     display: flex;
     flex-direction: column;
     gap: 8px;
 
     img {
       width: 100%;
       margin-bottom: 15px;
     }
 
     h2 {
       width: 100%;
       font-weight: 500;
       text-align: center;
       font-size: 17px;
       margin-bottom: 5px;
     }
 
     p {
       width: 100%;
       font-weight: 300;
       font-size: 15px;
       text-align: center;
 
       &.red {
         color: rgb(190, 0, 0);
         font-weight: 600;
       }
 
       &.blue {
         color: rgb(0, 76, 190);
         font-weight: 600;
       }
     }
     .products__btn-primary {
      width: 100%;
      padding: 10px 15px;
      font-size: 17px;
      font-weight: 600;
      border-radius: 10px;
      color: #f1f1f1;
      background-color: #333;
      &:hover {        
         color: #333;
         background-color: #f1f1f1;
      }
     }
   }
 }
 
 .cart {
   width: 30%;
   position: absolute;
   right: -50%;
   background-color: #fff;
   padding: 20px;
   height: 100%;
   box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.29);
   transition: all .25s ease;
 
   &.show {
     right: 0;
   }
 
   h2 {
     width: 100%;
     text-align: center;
     font-size: 20px;
     font-weight: 600;
     padding: 25px 0px;
   }
 
   section {
     padding-bottom: 20px;
     margin-top: 20px;
     border-bottom: 1px solid #f1f1f1;
     display: flex;
     justify-content: space-between;
     align-items: center;
 
     > img {
       width: 60px;
     }
 
     h3 {
       text-align: center;
       font-size: 15px;
       width: 120px;
     }
 
     p {
       font-weight: 500;
       font-size: 15px;
 
       
     }
 
     i {
       width: 30px;
       cursor: pointer;
 
       img {
         width: 100%;
       }
     }
   }
 
   button {
     width: 100%;
     padding: 15px 0;
     text-align: center;
     font-weight: 600;
     background-color: #333;
     color: #fff;
     border: none;
     font-size: 15px;
     letter-spacing: 0.5px;
     cursor: pointer;
     margin-top: 20px;
 
     &.toggle {
       background-color: cadetblue;
     }
   }
 }
 
 
 .menu {
  position: fixed;
  top: 0;
  left: -30%;
  height: 100vh;  
  background-color: #fff;
  padding: 40px 0;
  box-shadow: 19px 1px 22px -15px rgba(0, 0, 0, 0.29);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all .25s;

  &.menu__show {
    left: 0;
  }

  section{
      align-self: flex-end;
    i{
      display: block;
      cursor: pointer;
      width: 60px;

      img{
        width: 100%;
      }
    }
  }

  a {
    text-decoration: none;
    display: block;
    color: #000;

    &:hover{
      background-color: #f1f1f1;
      color: #0047b3;
    }

    h3{
      font-size: 18px;
      font-weight: 600;
      padding: 20px 50px;
    }

  }
 }